@{
    ViewBag.Title = "Index";
}
<br />
<h2>RSS Feed Reader</h2>
<hr />
<br />
@using (Html.BeginForm())
{
    <input type="URL" name="RSSURL" placeholder="Enter RSS Feed URL Here..." class="form-control" value="@ViewBag.URL" style="min-width:100%" />
    <br />
    <input type="submit" class="btn btn-success" />

}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 25%">Title</th>
            <th style="width: 25%">Link</th>
            <th style="width: 25%">Description</th>
            <th style="width: 25%">Publish Date</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.RSSFeed != null)
        {
            foreach (var item in ViewBag.RSSFeed)
            {
                <tr>
                    <td>@item.Title</td>
                    <td><a href="@item.Link">@item.Link</a></td>
                    <td >@item.Description</td>
                    <td>@item.PubDate</td>
                </tr>

            }
        }
    </tbody>
</table>

